.head-str-pg {
  font-weight: bolder;
}
.start-pg > p {
  font-size: 13px;
  line-height: 1.485em;
}
.start-pg {
  padding: 10px;
  border-radius: 10px;
}
.start-pg::after {
  content: '';
  top: 13px;
  left: -6px;
  width: 0.8823529412rem;
  height: 0.8823529412rem;
  border-radius: 2px;
  transform: rotate(45deg);
  bottom: -0.2352941176rem;
  background-color: inherit;
  z-index: -1;
}
.content-ent:focus-visible {
  outline: inherit;
}
.capsule-slider {
  width: max-content;
}
.subtitle-container {
  width: var(--auto-fill);
  max-width: 80%;
}
.wrap-bx-ln {
  position: relative;
  min-height: 160px;
}
.headline-tls {
  margin-top: 15px;
  margin-bottom: 10px;
}
.dark-mode .type-stl > button:hover,
.light-mode .type-stl > button:hover {
  transition: background-color 350ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 280ms cubic-bezier(0.19, 1, 0.22, 1);
}
.light-mode .type-stl > button:hover {
  color: var(--color-red-00);
  background-color: var(--color-light);
}
.ui-mdl-bc {
  backdrop-filter: blur(var(--eff-bg)) saturate(80%);
}
.ctx-mdl .title h1 {
  font-size: 30px;
}
.ctx-mdl .subtitle h2 {
  color: var(--light-gray-cls);
}
.hst-btn-cpl {
  border-radius: var(--capsule-value);
}
.controle-slider,
.art-md-wrap,
.inpt-np,
.text-inf-btn,
.msg-pg {
  display: flex;
  align-items: center;
}
.prt-md {
  position: fixed;
  top: var(--base-value);
  left: var(--base-value);
  width: var(--auto-fill);
  height: var(--auto-fill);
  z-index: 610;
  overflow: auto;
}
.pst button {
  padding: 10px 30px;
  border: 1px solid;
  border-radius: var(--rounded-cirle);
}
.block > textarea {
  min-height: 60px;
  max-height: 195px;
  max-width: 560px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-inline-end: var(--spacer-ln);
  padding-inline-start: var(--spacer-ln);
}
.indicator-bg {
  top: 50%;
  left: 5px;
  height: 85%;
  width: var(--base-size);
}
.title {
  position: relative;
  line-height: 45px;
}
.ui-mdl-bc {
  display: block;
  width: var(--auto-fill);
  height: var(--auto-fill);
}
.indicator-bg {
  --location-bar: 0px;
  --size-capsule: 122px;
  --base-size: var(--size-capsule);
  transform: translate(var(--location-bar), -50%);
  border-radius: var(--capsule-value);
  transition: transform 210ms ease, width 250ms ease-in;
  z-index: -1;
}
.response-ms {
  top: 8px;
  left: 50%;
  backdrop-filter: blur(10px);
  border: 1px solid var(--transparent-color);
  border-radius: 40px;
  transform: translate(-50%, 0%);
}
.sh-res .response-ms {
  border-color: var(--gray-color-01);
}
.res-stk {
  padding: 0;
  text-align: center;
  opacity: 0;
  border-radius: 40px;
  transition: padding 325ms ease, opacity 250ms ease;
}
.sh-res .res-stk {
  padding: 7px 30px;
  opacity: 1;
  transition-delay: 450ms, 250ms;
}
.res-stk > h3 {
  font-size: 15px;
}
