.main-prt,
.status-ctrls-ln .lst-ctrls {
  display: flex;
  align-items: center;
}
.frt-nm > h1 {
  font-size: 17px;
}
.alias > p {
  font-weight: 100;
}
.detail-profile {
  margin-bottom: 10px;
  padding-inline-start: 5px;
}
.vline {
  width: 2px;
  height: 14px;
}
.remove-ln-pop {
  border: 1px solid;
  padding: 1px 2px;
  border-radius: 3px;
}
.rm-ui .top::after {
  content: "";
  top: -3px;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  z-index: revert-layer;
}
.likes-ctrl,
.cmt-ctrl {
  border: 1px solid var(--transparent-color);
  background-color: var(--transparent-color);
  cursor: pointer;
}
.post-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  margin-bottom: 5px;
}
.txt-head > span {
  font-size: 13px;
}
.likes-ctrl:hover ~ .text-btn .txt-head > span,
.cmt-ctrl:hover ~ .text-btn .txt-head > span {
  text-decoration: underline;
  transition: color 230ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-bx > textarea:active {
  outline-color: var(--transparent-color);
  border-color: var(--transparent-color);
}
.wrapper-ln-stk {
  top: 5px;
  right: 5px;
}
.remove-ln-pop {
  position: relative;
  width: 15px;
  height: 32px;
}
.input-bx > textarea:focus,
.input-bx > textarea:focus-within,
.input-bx > textarea:focus-visible {
  outline-color: var(--color-deep-blue);
  border-color: var(--transparent-color);
}
.tl-list > h5 {
  font-size: 14px;
  pointer-events: none;
  text-decoration: underline;
}
.cmt-vm > p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.ow-ms .cmt-vm > p,
.snd-ng::before,
.snd-ng::after {
  border: 1px solid;
}
.snd-ng::after {
  top: 0;
  width: 4px;
  height: 4px;
}
.snd-ng::before {
  top: 8px;
  right: 1px !important;
  width: 10px;
  height: 10px;
}
.btn-ent {
  color: inherit;
  font-weight: 600;
  font-size: 10px;
  border: 1px solid var(--transparent-color);
  background-color: var(--transparent-color);
  cursor: pointer;
}
.btn-bx {
  margin-top: 2px;
}
.opn-ctx-bx .fld-pst {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition-delay: 120ms, 420ms;
}
.fld-pst {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 250ms ease, height 320ms ease-in;
}
.opn-ctx-bx .whl-dt {
  display: block;
}
.whl-dt {
  display: none;
}
.md-style .cmt-vm {
  font-size: 15px;
}
.headline-nl-ls > h4 {
  font-size: 19px;
  font-weight: 500;
}
.subln-ns > p {
  font-size: 16px;
  font-weight: 100;
}
@media only screen and (max-width: 790px) {
  .headline-nl-ls > h4 {
    font-size: 17px;
  }
  .subln-ns > p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .headline-nl-ls > h4 {
    font-size: 14px;
  }
  .subln-ns > p {
    font-size: 13px;
  }
  .ln-mn > p {
    font-size: 15px;
  }
  .frt-nm > h1 {
    font-size: 16px;
  }
  .alias > p {
    font-size: 14px;
  }
  .dt-mk span > p {
    font-size: 11px;
  }
  .fd-pst .cm-ar {
    font-size: 14px;
  }
  .txt-head > span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 450px) {
  .md-style .cmt-vm {
    font-size: 14px;
  }
}
