.nav > ul,
.container-tx > .ui-dt,
.menu-mb,
.load-lg,
.content-th > .theme-btn-ent,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-cmp {
  position: absolute;
  top: 0;
  right: 0;
}
.main-nav {
  justify-content: space-between;
}
.art-container {
  width: 85px;
}
.content-th > .theme-btn-ent {
  justify-content: flex-start;
}
.theme-plc span {
  font-size: 0px;
  letter-spacing: 0.0458em;
}
.theme-plc span > p {
  font-size: 11px;
  font-weight: bold;
  padding: 1px 8px;
}
.menu-mb {
  flex-direction: column;
  gap: 4px 0px;
}
.logo-ent > svg {
  transform: scale(1.6);
}
.wrapper {
  padding-top: 5px;
  backdrop-filter: blur(20px);
}
.logo-ent {
  height: 35px;
}
.art-logo {
  width: 150px;
}
.op-mn-ctx .art-logo {
  position: relative;
  z-index: 5;
}
.op-mn-ctx .mb-content.op-mn-ctx {
  z-index: 5;
}
.wrapper.op-mn-ctx ~ .back-ctx .modal-bc {
  position: fixed;
  inset: 0;
  z-index: -1;
}
.back-ctx .modal-bc {
  transition: all 250ms ease;
}
.light-mode .wrapper.op-mn-ctx ~ .back-ctx .modal-bc {
  background-color: var(--white-color-00);
}
.dark-mode .wrapper.op-mn-ctx ~ .back-ctx .modal-bc {
  background-color: var(--dark-transparent);
}
.crl-bg-ln .badge-ent > span > p {
  padding: 0;
  width: 16px;
  height: 16px;
}
.main-nav {
  width: 815px;
  margin: var(--zero) var(--auto-text);
}
.badge-ent > span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  text-align: center;
}
@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .wrapper.op-mn-ctx ~ .back-ctx .modal-bc {
    backdrop-filter: blur(20px);
    --wehkit-backdrop-filter: blur(20px);
  }
  .theme-btn-ent {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
