<style lang="css">
  .wrapper-tls {
    position: absolute;
  }
  .wrapper-tls {
    inset: 0;
  }
  .wrapper-tls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 450px) {
  }
</style>
<div class="load-prt">
  <div [class]="cls()">
    <div class="load-spn">
      <div class="load-txt">
        <div class="wp-txt">
          <h2>{{ loadText() }}</h2>
        </div>
      </div>
    </div>
    <div class="mask-ls">
      <div class="mask-ent">
        <div class="mask-bt"></div>
      </div>
    </div>
  </div>
</div>
