*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  font-family: 'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
:root {
  --zero: 0;
  --auto-fill: 100%;
  --auto-text: auto;
  --on-value: 16px;
  --base-value: 0px;
  --y-value: 0px;
  --x-value: 0px;
}
:root {
  --color-dark: color(display-p3 0 0 0);
  --color-light: color(display-p3 1 1 1);
  --light-gray-cls: color(display-p3 0.83 0.83 0.83);
  --white-color-00: color(display-p3 1 1 1 / 0.6);
  --gray-color-00: color(display-p3 0.8 0.79 0.79);
  --gray-color-01: color(display-p3 0.25 0.25 0.25);
  --gray-color-02: color(display-p3 0.25 0.25 0.25 / 0.7);
  --gray-color-03: color(display-p3 0.96 0.96 0.94);
  --white-color-01: color(display-p3 0.8 0.79 0.79 / 0.32);
  --ok-color: color(display-p3 0.27 1 0.14);
  --color-blue-01: color(display-p3 0.07 0.49 1);
  --color-blue-02: color(display-p3 0.39 0.66 1);
  --color-deep-blue: color(display-p3 0 0.07 0.4);
  --color-red-00: color(display-p3 1 0.35 0.29);
  --yellow-01: color(display-p3 1 1 0.33);
  --yellow-02: color(display-p3 1 0.93 0);
  --color-red-01: color(display-p3 0.95 0.23 0.23);
  --transparent-color: color(display-p3 1 1 1 / 0);
  --dark-transparent: color(display-p3 0 0 0 / 0.29);
  --green-color-00: color(display-p3 0.34 0.99 0.46);
  --green-color-01: color(display-p3 0.34 0.99 0.46);
  --green-color-02: color(display-p3 0.31 1 0.59);
  --green-color-dark: color(display-p3 0.05 0.18 0);
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
.body {
  height: 100%;
}
a:active,
a:link,
a:visited {
  text-decoration: none;
}
.html.mn-nv-opn {
  overflow: hidden;
  height: 100%;
}
.html a {
  color: inherit;
}
.html.light-mode {
  color: var(--color-dark);
  background-color: var(--color-light);
}
.html.dark-mode {
  color: var(--color-light);
  background-color: var(--color-dark);
}
footer {
  margin-top: auto;
}
